.a{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 50px;
    
    }
    
    .A{
    text-align: center;
    margin: 50px;
    border: 1px solid black;
    padding: 10px;
    width: 500px;
    margin-left: 500px;
    
    background-color: rgb(245, 217, 247);
    
    }
    input{
    width:2in;
    }
    button{
    width: 2in;
    }